; teve.conf.dist
; The values below are the hardcoded defaults

[external-programs]
; These are the paths executed by teve to run external programs.
; The default values are just filenames, meaning you will have to
; set up your $PATH to point to these files.
; Paths can also be specified in the environment variables. Paths
; specified in environment variables has priority over any paths supplied
; in configuration files.
rtmpdump="rtmpdump"     ; $RTMPDUMP
ffmpeg="ffmpeg"         ; $FFMPEG
mplayer="mplayer"       ; $MPLAYER
curl="curl"             ; $CURL
php="php"               ; $PHP

; If any of the above enironment variables, prefixed with TEVE_, are found,
; they will be used instead of the above. ($TEVE_RTMPDUMP takes precedence
; above $RTMPDUMP and so forth.)

; Setting $PATH to point to this file will not work, so it should
; be modified to point to a copy of it.
adobehds.php="AdobeHDS.php"

[preferences]
; The default operation to perform when no operation
; was specified on the command line.
; Possible values are 'download' and 'list'.
default-action=download

; These values are used for automatic selection of a stream to download.
; See the USAGE section in the README file for more information.
ideal-bitrate=2500
ideal-pixel-width=1280

; The automatic stream selection mechanism calculates the distance
; from an ideal stream for each stream present in a video, and selects
; the one with the shortest distance. If you want the stream transport
; to influence this decision, you may associate weights to specific
; transports below. The distances for each stream are multiplied with
; these weights before comparison.
;
; The default value for all transport is 1, meaning that stream
; transports do not influence which stream is selected.
;
; To double all distances for Adobe HDS streams, making the selection
; mechanism prefer other available transports even though the HDS
; stream is a better match, uncomment this:
;
;transport-weight-hds=2
;
; Possible transport specifiers include:
;
;  hds          (Adobe HDS)
;  hls          (Apple HLS)
;  rtmp         (Any and all RTMP variants)
;  http         (HTTP and HTTPS)
;  rtsp
;  mms
transport-weight-hds=2          ; AdobeHDS.php only when necessary

; Settings for the disk cache (used with remote objects). The default
; ttl is used for data without an inherent time-to-live (through for
; example HTTP headers). If cache-override-ttl is #t, the default ttl
; will be used when deciding whether cached objects are up to date.
use-cache=#t                    ; #t of #f
cache-default-ttl=300           ; In seconds
cache-override-ttl=#f           ; Always use default value
